@import "assets/scss/variables.scss";

.wrapper {
  padding: 5rem 0;
  color: $textDark;
  text-align: center;
  background-color: $bgLight;
  @include md {
    padding: 3.5rem 0;
  }
  @include sm {
    padding: 1.5rem 0;
  }
  & .image-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    @include lg {
      width: calc(100% - 3.5rem);
      margin: auto;
    }
    & img {
      width: 100%;
      // height: 100%;
      // object-fit: cover;
    }
    & .seal {
      position: absolute;
      right: 2rem;
      top: 1rem;
      width: 5rem;
      height: 5rem;
      @include lg {
        top: auto;
        bottom: 4.5rem;
      }
      @include sm {
        display: none;
      }
    }
  }
  & .text-wrapper {
    width: 100%;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    @include lg {
      width: 100%;
    }
    @include md {
      padding-bottom: 0;
    }
    & h2 {
      font-size: $textLarge + 5px;
      font-family: $secondaryFont;
      letter-spacing: 1px;
      line-height: 1.5;
      text-transform: capitalize;
      @include lg {
        margin-top: 3.5rem;
        font-size: $textLarge + 12.5px;
        text-align: center;
      }
      @include md {
        font-size: $textLarge + 5px;
        line-height: 1.5;
        margin: -1rem 0;
      }
      @include sm {
        font-size: $textLarge;
      }
    }
    & > p {
      font-size: $textPrimary + 2px;
      margin-bottom: 2.5rem;
      opacity: 0.65;
      text-align: justify;
      @include lg {
        margin-top: 3.5rem;
        text-align: center;
      }
      @include md {
        margin-top: 2.5rem;
        line-height: 1.5;
        font-size: $textLarge - 2px;
      }
      @include sm {
        font-size: $textPrimary;
      }
    }
    & .sign {
      height: 5rem;
      margin-left: 2.5rem;
      @include sm {
        height: 3.5rem;
        margin-left: 0;
      }
    }
    & .avatar-sign-wrapper {
      @include md {
        flex-direction: column;
        align-items: center;
      }
      & .avatar-image {
        height: 5rem;
        margin-right: 1.5rem;
      }
    }
  }
  & :global(.container-global) {
    @include lg {
      flex-direction: column;
      padding: 0 3.5rem;
    }
    @include sm {
      padding: 0 1.5rem;
      gap: 1.5rem;
    }
  }
  & :global(.avatar-photo-global) {
    display: none;
  }
}
