@import 'assets/scss/variables.scss';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    @include xl {
      max-width: none;
      padding: 0 7.5rem;
    }
  }
  