@import "assets/scss/variables.scss";

.wrapper {
  margin-bottom: 1rem;
  & .breadcrumb-list {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    & a {
      text-decoration: none;
    }
  }
  & .breadcrumb-separator {
    margin: 0 0.25rem;
  }
  & li {
    display: flex;
    align-items: center;
  }
  & .current-page {
    white-space: nowrap;
    max-width: calc(100vw - 15rem);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 100%;
  }
}
