@import "assets/scss/variables.scss";

.wrapper {
  padding: 5rem 0;
  color: $textDark;
  text-align: center;
  background: rgba($secondary, 0.075);
  background-image: url("../../assets/images/pattern.png");
  background-size: 100%;
  background-attachment: fixed;
  box-shadow: inset 0px -10px 20rem 0 rgba($bg, 0.25);
  @include md {
    padding: 3.5rem 0;
  }
  @include sm {
    padding: 1.5rem 0;
  }
  & h2 {
    font-size: $textLarge + 5px;
    margin-bottom: 5rem;
    font-family: $secondaryFont;
    letter-spacing: 1px;
    @include lg {
      font-size: $textLarge + 12.5px;
    }
    @include md {
      margin-bottom: 2.5rem;
      font-size: +5px;
    }
    @include sm {
      font-size: $textLarge;
      margin-bottom: 1.5rem;
    }
  }

  &.expanded {
    .d-flex {
      overflow: hidden;
      .card {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .card {
      max-width: 25rem;
      background-size: cover;
      min-height: 27.5rem;
      background-position: center top;
      position: relative;
      cursor: pointer;
      padding: 0 !important;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include sm {
          display: none;
        }
      }
      @include md {
        min-height: 20rem;
      }
      @include sm {
        overflow: hidden;
        min-height: 30rem;
        margin: auto;
        width: 20rem;
      }
      & .texts {
        padding: 1rem 1.75rem;
        background-color: rgba($bg, 0.85);
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $textLight;
        text-align: center;
        // font-weight: bold;
        & h4 {
          font-size: $textPrimary + 2px;
          font-weight: 600;
        }
        @include md {
          width: -webkit-fill-available;
        }
        & .description {
          margin-top: 1rem;
          color: rgba($textDark, 0.75);
        }
        & .qualification {
          color: $secondary;
        }
        & p {
          &:last-child {
            font-size: $textLarge - 2px;
          }
        }
      }
      & .content-wrapper {
        & img {
          display: none;
        }
      }
      &.fixed {
        & .content-wrapper {
          padding: 2rem;
          position: fixed;
          width: calc(100% - 10rem);
          background: $light;
          height: calc(100% - 10rem);
          z-index: 11111;
          top: 0;
          left: 0;
          margin: auto;
          bottom: 0;
          right: 0;
          overflow: hidden;
          display: flex;
          gap: 2rem;
          & img {
            display: block;
            height: 25rem;
          }
          & .texts {
            position: relative;
            background-color: transparent;
            padding: 0;
            color: $textDark;
            & h4 {
              color: $textDark;
              font-size: $textExtraLarge;
            }
            & .designation {
              font-size: $textLarge;
            }
          }
        }
      }
    }
  }
  & :global(.container-global) {
    @include lg {
      padding: 0 3.5rem;
    }
    @include sm {
      padding: 0 1.5rem;
    }
  }
  & :global(.variant-outlined-global) {
    @include sm {
      margin-top: 1.5rem !important;
    }
  }
  & .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg, 0.5);
    z-index: 10;
  }
  & .close-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    cursor: pointer;
    & svg {
      fill: $error;
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.expandButton {
  cursor: pointer;
  color: $primary;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
}
