@import "assets/scss/variables.scss";


.wrapper {
  & .photo {
    width: 3.75rem;
    height: 3.75rem;
    background-color: $secondary;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 175%;
    overflow: hidden;
    @include lg {
      width: 5.75rem;
      height: 5.75rem;
      font-size: 250%;
    }
    @include sm {
      width: 3.75rem;
      height: 3.75rem;
    }
    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  & .text-wrapper {
    & p {
      margin-bottom: 0 !important;
      font-size: $textPrimary;
      opacity: 0.75;
    }
    & h3 {
      font-size: $textPrimary;
    }
  }
}
