@import "assets/scss/variables.scss";

.wrapper {
  color: $textDark;
  margin: 2.5rem 0;
  & img {
    width: 100%;
    margin: 2.5rem 0;
    border-radius: 1rem;
  }
  & header {
    & h1 {
      @include md {
        font-size: $textLarge;
      }
    }
  }
  & main {
    & article { 
      & p {
        margin-bottom: 1rem;
      }
    }
  }
  & :global(.container-global) {
    @include md {
      padding: 0 1rem;
    }
  }
}
